<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
  <meta charset="utf-8" />
  <link rel="icon" href="../static/assets/img/R.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta
    name="description"
    content="Web site created using create-react-app"
  />
  <title>SearchHive</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> 
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h1>SearchHive</h1>
  <div class="form">
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.search.label }}
      {{ form.search(autocomplete = "off") }}
      {{ form.submit() }}
    </form>
  </div>

  {% if results %}
    <div class="results">
      {% for (result, q_heading) in results %}
      <div class="results-box">
        <p>{{ loop.index }}. <a href="{{ result }}" target="_blank">{{ q_heading }}</a></p>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Welcome, Search your Key Words!</p>
    {% if search_triggered %}
        <p>No results found, please try with other related word(s).</p>
    {% endif %}
  {% endif %}

  <footer>
    <div class="creator">Created by Rushikesh Suryavanshi</div>
    <div class="Footer-Links">
      <p>&copy; 2023 SearchHive | 
        <a href="mailto:rushisurya2705@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        <a href="https://github.com/rushisurya2705" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rushikesh-suryavanshi/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/rushisurya2705" target="_blank"><i class="fab fa-instagram"></i></a>
      </p>
    </div>
  </footer>
</body>
</html>
